
.letterboxd-result{
  background-color: #1F262C !important;
}


@media only screen and (max-width: 992px) {
  .imagem {
    width: 100%;
  }
  .imagem-logo{
    width: 30% !important;
    height: 2% !important;
  }
  
}

@media only screen and (min-width: 992px) {
  .imagem {
    width: 50% !important;
  }
  .imagem-logo{
    width: 13% !important;
    height: 2% !important;
  }
}


.letterboxd-button{
  background-color: #202830 !important;
}

.card:hover {
  box-shadow: rgba(105, 105, 114, 0.2) 0px 7px 29px 0px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
